.card-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.card {
  &:last-child {
    margin-right: 0;
  }
}
