.form {
    width: 600px;
    margin: 0 auto;
    padding: 40px 60px;
    background: #fff;
}

.form__title {
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 900;
}

.form__label {
    margin-bottom: 10px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
}

.form__textInput {
    padding: 14px 20px;
    width: 100%;
    margin-bottom: 20px;
}

.form__textInput:last-child {
    margin-bottom: 0;
}

.form__buttonSubmit {
    width: 100%;
    padding: 14px 20px;
    margin-top: 10px;
}
