.row-sell-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.card {
    margin-right: 20px;
    &:last-child {
        margin-right: 0;
    }
}
