@import '~_vars.scss';

.table-body__control-button {
    padding: 8px 10px;
    border: none;
    background: #efefef;
    color: $accent-color;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
